dea<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <script src="https://kit.fontawesome.com/cbb6042c90.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'css/base.css'%}">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{% static 'photos/favicon.ico'%}" type="image/x-icon">
  <title>HDFC BANK</title>

</head>

<body >

<form method="get">
  <nav class="navbar">

    <ul>
      <img src="{% static 'photos/logo.jpg' %}" alt="">
      <li><a href="#">Personal</a></li>
      <li><a href="#">NRI</a></li>
      <li><a href="#">SEM</a></li>
      <li><a href="#">Wholesale</a></li>
      <li><a href="#">Agri</a></li>

      <div class="he">
        <i class="fas fa-map-marker-alt"><a href="#"> locate us</a></i>

        <i class="far fa-question-circle"></i><a href="#"> help</a></i>
      </div>

    </ul>

  </nav>
  <nav class="navbar2">
    <ul>
      <div class="light">
        <li><i class="fas fa-home"></i><br><a href="#"> HOME</a></li>
        <li><i class="far fa-credit-card"></i><br><a href="#"> PAY</a></li>
        <li><i class="fas fa-piggy-bank"></i><br><a href="#"> SAVE</a></li>
        <li><i class="fas fa-chart-line"></i><br><a href="#"> INVEST</a></li>
        <li><i class="fas fa-hand-holding-usd"></i><br><a href="#"> BORROW</a></li>
        <li><i class="fas fa-hands"></i><br><a href="#"> INSURE</a></li>
        <li><i class="fas fa-shopping-cart"></i><br><a href="#"> SHOP</a></li>
      </div>
      <div class="search">

        <input type="text" name="" id=" " placeholder="search for products"><a href="#"><i
            class="fas fa-search"></i></a>


      </div>
      <div class="but">

        <input type="button" id="a" onclick="openForm()" value="LOGIN">

      </div>








    </ul>

  </nav>



<div class="bg">
  <img src="{% static 'photos/bg.jpg'%}">
</div>







  <div class="box1" id="myForm">
    <div class="cross" onclick="closeForm()">
      <i class="far fa-times-circle"></i>
    </div>
    <h1>Personal Login</h1>
    <hr>
    <div class="check">

      <label for="a">
        <input type="radio" value="0" name="div" id="">NetBanking
      </label><br>
      <label for="b">
        <input type="radio" value="1" name="div" id="b">Credit Card Login (For customers without HDFC
        Bank A/c)
      </label><br>
      <label for="c">
        <input type="radio" value="2" name="div" id="c">Loan Account Login (For customers without
        HDFC Bank A/c)
      </label><br>
      <label for="e">
        <input type="radio" value="3" name="div" id="e">Prepaid/Forex Card
      </label><br>
      <label for="r">
        <input type="radio" value="4" name="div" id="r">Verified by Visa/ MasterCard SecureCode/ Netsafe/
        RuPay PaySecure
      </label><br>
      <label for="f">
        <input type="radio" value="5" name="div" id="f">FASTag
      </label><br>





    </div>

    <div class="btns">
      <input type="submit" value="LOGIN"  formaction="/select" class="btn1">
      <input type="button" value="KNOW MORE" class="btn2">
    </div>
  </div>
  </form>
  <script>
    function openForm() {
      document.getElementById("myForm").style.display = "block";
    }

    function closeForm() {
      document.getElementById("myForm").style.display = "none";
    }
  </script>

{% block baseblock %}
{% endblock %}

</body>

</html>